# IntelliJ
.idea/
*.iml

# Java
**/target/
*.class
*.log

# Angular
**/node_modules/
**/.angular/
**/dist/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Variables locales
.env
application-local.properties