mat-dialog-content {
  min-width: 320px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 1.5;
}

mat-dialog-actions {
  padding: 12px 24px 20px;
}

button {
  min-width: 100px;
}
