.page {
  padding: 24px;
}

h1 {
  margin-bottom: 8px;
}
.proyectos-container {
  padding: 24px;
}

mat-card {
  margin-top: 20px;
}

.tabla-proyectos {
  width: 100%;
}

.mat-mdc-header-cell {
  font-weight: 600;
}
