.kpi-card {

    background: #ffffff;

    border-radius: 16px;

    padding: 24px;

    box-shadow: 0 6px 18px rgba(0,0,0,.08);

    transition: all .25s ease;

    display: flex;

    flex-direction: column;

    gap: 20px;

    border-left: 6px solid #1976d2;

}

.kpi-card:hover {

    transform: translateY(-5px);

    box-shadow: 0 12px 24px rgba(0,0,0,.12);

}

.header {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.icon {

    width: 52px;

    height: 52px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #e3f2fd;

}

.icon mat-icon{

    font-size:28px;

    color:#1976d2;

}

.text h3{

    margin:0;

    font-size:16px;

    font-weight:600;

}

.text span{

    color:#777;

    font-size:13px;

}

.value{

    font-size:38px;

    font-weight:bold;

    color:#1976d2;

}

.primary{

    border-left-color:#1976d2;

}

.success{

    border-left-color:#2e7d32;

}

.warning{

    border-left-color:#f9a825;

}

.danger{

    border-left-color:#d32f2f;

}
